@import "tailwindcss";

@theme {
  --color-concrete-50: #f8f8f8;
  --color-concrete-100: #f2f2f2;
  --color-concrete-200: #dcdcdc;
  --color-concrete-300: #bdbdbd;
  --color-concrete-400: #989898;
  --color-concrete-500: #7c7c7c;
  --color-concrete-600: #656565;
  --color-concrete-700: #525252;
  --color-concrete-800: #464646;
  --color-concrete-900: #3d3d3d;
  --color-concrete-950: #292929;
  --color-ring-color: #f54d45;
}

/* Minimal custom scrollbar */
::-webkit-scrollbar {
  width: 4px; /* make it thin */
}

::-webkit-scrollbar-track {
  background: transparent; /* invisible track */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Tailwind's gray-400 */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind's gray-500 */
}
